html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address,big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul,li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption,footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure,footer,header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul{list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: "";content: none;}table {border-collapse: collapse;border-spacing: 0;}

@import url('https://fonts.googleapis.com/css?family=Quicksand|Share');


body {
	position: relative;
	height: 100%;
    max-width: 1200px;
}

main {
	padding: 22px 100px;
}

/*-----header page starts-----*/
.nav_bar{
    float: left;
    background-color: #1f2a3e;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.logo{
    position: relative;
    width: 20%;
    float: left;
    padding: 10px 20px;
}
.nav_meny{
   position: relative;
   width: 70%;
   float: right;
}
.nav_meny ul {
    list-style-type: none;
    display: inline-block;
    padding: 33px 0px;
}

.nav_meny ul li{
    font-family: 'Quicksand', sans-serif;
    display: inline;
    
}
.nav_meny ul li a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    padding: 15px 46px;
    
}

.nav_meny ul li a:link, .nav_meny ul li a:visited {
    color: #f2f3f5;
}
.nav_meny ul li a:hover{
    color: #e6f234;
}


/*-----header page ends-----*/

/*-----footer page starts-----*/
footer{
    padding: 18px 45px;
    background-color: #1f2a3e;
    float: left;
    width: 100%;
}
footer header{
    font-family: 'Quicksand', sans-serif;
    color: aliceblue;
    padding: 10px 279px;
}
/*-----footer page ends-----*/
/*-----index page starts-----*/
#index_main{
    float: left;
    padding: 0px !important;
    background-color: #007042;
}

/*-----index page ends-----*/

/*-----kulturliv page page starts-----*/
#kulturliv_main,#studentliv_main{
    padding: 75px 0px;
}
.kulturliv_kategori, .studentliv_kategori{
    float: left;
    padding: 25px 66px;
}
.kulturliv_kategori header{
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Share', cursive;
}
.kulturliv_kategori div, .narmiljo_kategori div{
    float: left;
    width: 30%;
    padding: 23px 4px;
}
.kulturliv_kategori img, .narmiljo_kategori img{

    padding-bottom: 15px;
}
.kulturliv_kategori button,  .narmiljo_kategori a:link, .narmiljo_kategori a:link{
    margin: 0px 0px 10px 51px;
    padding: 14px 56px;
    color: black;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}
.kulturliv_kategori a:hover, .narmiljo_kategori a:hover{
   color: aquamarine;
   text-decoration: underline;
}
.spise_section, .butikker_section{
    clear: both;
    width: 100%;
    background-color: #efb72a;
    float: left;
    margin-top: 57px;
    padding: 30px 0px 30px 0px;
}
.spise_kort, .butikker_kort{
    position: relative;
    width: 32%;
    float: left;
    padding-left: 10px;
    
}
.spise_section header, .trening_wrapper header, .ute_section header, .butikker_kort header {
    font-weight: bold;
    font-size: 2em;
    padding: 10px 36px;
    font-family: 'Share', cursive;
}

.spise_blide{
    float:left;
}

.spise_adress, .spise_kontakt,.trening_adress, .trening_kontakt, .trening_pris, .ute_adress, .ute_kontakt, .ute_pris, .ute_apenstider, .ute_aldergrense, .tjnester_adress, .tjnester_kontakt{
    font-family: 'QuickSand', sans-serif;
    float: left;
    padding-left: 7px;
    margin-top: 10px;
    width: 100%;
}
.spise_beskrivelse, .trening_beskrivelse, .ute_beskrivelse, .tjnester_beskrivelse{
    margin-top: 20px;
    float: left;
    padding-left: 7px;
    line-height: 150%;
    font-family: 'Helvetica', sans-serif;
}

.trening_section, .tjnester_section{
    float: left;
    width: 100%;
    background-color: #f2f3f5;
    padding: 30px 0px 30px 0px;
}
.trening_kort, .tjnester_kort{
    width: 100%; 
    float: left;
    margin-bottom: 10px;
}
.trening_blide{
    float: left;
    padding: 36px 20px;
}

.trening_wrapper{
    float: right;
    width: 55%;
}

.ute_section{
    float: left;
    width: 100%;
    background-color: #cdd371;
}
.ute_kort{
    position: relative;
    float: left;
    width: 29%;
    padding: 30px 17px;
}
.ute_blide{
    float:left;
}
/*-----kulturliv page ends-----*/
/*-----narmiljo page begins-----*/
.butikker_kort div{
    float:left;
}
.tjnester_wrapper{
    float: right;
    width: 55%;
}
.tjnester_blide{
    float: left;
    width: 31%;
    padding: 14px 73px;
}
.tjnester_kort header{
    font-weight: bold;
    font-size: 2em;
    padding: 10px 8px;
    font-family: 'Share', cursive;
}
.narmiljo_kategori{
    float: left;
    width:  70%;
    margin-left: 15%;
    padding: 50px 66px;
}
/*-----narmiljo page ends-----*/

/*-----studentliv page starts-----*/
.studentliv_kategori div{
    float: left;
    width: 27%;
}
.studentliv_kategori p{
   padding-top: 100px;
    padding-left: 56px;
    font-size: 1.1em;
    line-height: 1.5em;
    font-family: 'Helvetica', sans-serif;
}
.studentliv_link{
    float: left;
    width: 100%;
    background-color: #f2f3f6;
    padding: 25px 66px;
}
.studentliv_link header{
    font-family: 'Share', cursive;
    font-size: 1.3em;
    padding: 10px 0px 20px 0px;
}
.studentliv_link div{
    float: left;
    width: 35%;
    padding-left: 30px;
}
.studentliv_link a{
    text-decoration: none;
}
.studentliv_link a:link, .studentliv_link a:vistied{
    color: #f2f3f5;
    text-decoration: none;
}
.studentliv_link a:hover{
  color: aquamarine;
   text-decoration: none;
}
.studentliv_link div p{
    font-size: 1.1em;
    line-height: 1.5em;
    font-family: 'Helvetica', sans-serif;
}

/*-----studentliv page starts-----*/

/*-----sosial page starts-----*/

.sosial_meny h4{
    padding-left: 422px;
    margin-bottom: 53px;
}

.sosial_meny a{
    display: inline-grid;
}

div .sosial_meny ul {
    list-style-type: none;
}

div .sosial_meny ul li{
    display: inline;
    margin-right: 50px;
    padding-left: 140px;
}

.sosial_meny img{
     margin: 30px 0px 5px -74px;
}

/*-----sosial page ends-----*/
